@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* navbar */

.nav{
    display: flex;
    background-color: #f2d2bd;
    align-items: center;
    justify-content: space-between;
    padding: 0% 4%;
}
.logo img{
    height: 120px;
    border-radius: 100%;
}
.logo img:hover{
    transform: rotate(360deg);
    transition: 1.5s;
}
.links a{
    text-decoration: none;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 500;
    font-family:'Poppins',sans-serif;
    color: #b7410e;
}
.links a:hover{
    transition: 0.5s;
    text-shadow: 0 0 20px #b7410e;
}
.secondary-btn{
    background-color: transparent;
    font-size: 16px;
    border: 2px solid #b7410e;
    color: #b7410e;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 70px;
    width: 100px;
    height: 45px;
}
.secondary-btn:hover{
    transition: 0.5s;
    color: #f2d2bd;
    background-color: #b7410e;
    box-shadow: 0 0 12px #b7410e;
}
.primary-btn{
    background-color: #b7410e;
    border: 2px solid #b7410e;
    font-size: 16px;
    color: #f2d2bd;
    margin-left: 7px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 70px;
    width: 100px;
    height: 45px;
}
.primary-btn:hover{
    transition: 0.5s;
    color: #b7410e;
    border: 2px solid #b7410e;
    background-color: #f2d2bd;
    box-shadow: 0 0 12px #b7410e;
}

/* Header */

.header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #f2d2bd;
    padding: 0% 6%;
}
.htext{
    width: 30%;
}
.htext h1{
    color: #b7410e;
    font-size: 10vh;
    font-family: 'Poppins',sans-serif;
}
.htext p{
    color: #b7410e;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
}
.htext button{
    margin-top: 20px;
    width: 8vw;
}
.himg{
    width: 70%;
    display: flex;
    justify-content: center;
}
.himg img{
    width: 25vw;
    min-width: 200px;
}

/* About Us */

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 6%;
}
.aimg{
    width: 50%;
    display: flex;
    justify-content: center;
}
.aimg img{
    width: 25vw;
    min-width: 200px;
}
.atext{
    width: 50%;
}
.atext h3{
    color: #b7410e;
    font-size: 6vh;
    font-family: 'Poppins',sans-serif;
}
.atext p{
    color: #b7410e;
    font-size: 2vh;
    font-family: 'Poppins',sans-serif;
}
.atext button{
    margin-top: 20px;
    width: 8vw;
}

/* Our Menu */

.menu{
    background-color: #f2d2bd;
    text-align: center;
}
.menu h1{
    color: #b7410e;
    font-size: 6vh;
    font-family: 'Poppins',sans-serif;
    padding: 20px;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    padding: 30px;
    padding-top: 30px;
    overflow-x: scroll;
    gap: 30px;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card{
    background-color: #b7410e;
    min-width: 250px;
    border-radius: 20px;
    justify-items: center;
    box-shadow: 0 0 8px #b7410e;
}
.card:hover{
    transform: scale3d(1.1,1.1,1.1);
    box-shadow: 0 0 10px #b7410e , 0 0 12px #b7410e;
}
.card img{
    width: 15vw;
    min-width: 150px;
}
.card h4{
    color: #f2d2bd;
    font-family: 'Poppins',sans-serif;
}
.card button{
    margin: 12px 4px;
    padding: 6px;
    border-radius: 8%;
    color: #b7410e;
    font-weight: 600;
    background-color: #f2d2bd;
    border: 2px solid #f2d2bd;
}
.card button:hover{
    box-shadow: 0 0 12px #f2d2bd;
}

/* Testimonial */

.testimonial{
    text-align: center;
}
.testimonial h1{
    color: #b7410e;
    font-size: 6vh;
    font-family: 'Poppins',sans-serif;
    padding: 20px;
}
.review{
    background-color: #f2d2bd;
    width: 60%;
    border-radius: 20px;
    position: relative;
    left: 18%;
    margin-bottom: 40px;
}
.review p{
    color: #b7410e;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    font-weight: 500;
    text-align: left;
    padding: 40px 60px;
}
.review h6{
    color: #b7410e;
    font-family: 'Poppins',sans-serif;
    font-size: 2vh;
    font-weight: 600;
    text-align: right;
    padding: 20px;
}
.news .cards{
    justify-content: space-around;
}
.news .cards .card{
    background-color: #f2d2bd;
}
.news .cards .card h4{
    color: #b7410e;
}
.news .cards .card button{
    border: 2px solid #b7410e;
    width: fit-content;
}
.news .cards .card img{
    width: 12vw;
    border-radius: 40px;
    margin: 12px 0;
}


/* News & events */

.news{
    background-color: #f2d2bd;
    text-align: center;
}
.news h1{
    color: #b7410e;
    font-size: 6vh;
    font-family: 'Poppins',sans-serif;
    padding: 20px;
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}
.footer-logo{
    width: 10cm;
    width: 40%;
}
.footer-logo h5{
    font-family: 'Poppins',sans-serif;
    font-size: 2vw;
    color: #b7410e;
    font-weight:700; 
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-logo img{
    width: 10vw;
    border-radius: 100%;
}
.footer p{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    color: #b7410e;
    margin-bottom: 20px;
    width: 80%;
}
.footer-logo p{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
}
.media img{
    width: 3vw;
    padding: 8px;
}
.media img:hover{
    transform: rotate(360deg);
    transition: 1.4s;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #b7410e;
    font-family: 'Poppins',sans-serif;
    line-height: 70px;
}
.footer a:hover{
    transition: 0.5s;
    text-shadow: 0 0 20px #b7410e;
}
.footer-links{
    display: flex;
    gap: 80px;
}
.footer-link{
    display: flex;
    flex-direction: column;   
}

/* Sub Footer */

.sub-footer{
    background-color: #f2d2bd;
    display: flex ;
    justify-content: space-around;
    padding: 1.5vh 18vw;
}
.sub-footer a{
    color: #b7410e;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}

/* Responsiveness */

@media (max-width: 900px) {
    
    /* navbar */

    .nav{
        display: flex;
        flex-direction: column;
    }
    .links{
        display: none;
    }

    /* header */

    .header{
        display: flex;
        flex-direction: column-reverse;
    }
    .htext{
        width: 80%;
        text-align: center;
    }
    .htext h1{
        font-size: 6vh;
    }
    .htext button{
        width: 120px;
        margin-bottom: 40px;
    }

    /* about us */

    .about{
        display: flex;
        flex-direction: column;
    }
    .aimg{
        padding-top: 20px;
    }
    .atext{
        width: 80%;
        text-align: center;
    }
    .atext h3{
        font-size: 3vh;
    }
    .atext button{
        width: 120px;
        margin-bottom: 40px;
    }

    /* our menu */

    .menu h1{
        font-size: 4vh;
    }

    /* testimonial */

    .testimonial h1{
        font-size: 4vh;
    }
    .review{
        width: 88%;
        margin: 10px auto;
        margin-bottom: 40px;
        position: relative;
        left: 0%;
    }
    .review p{
        padding: 20px;
        margin: 0;
    }

    /* news & events */

    .news h1{
        font-size: 4vh;
    }

    /* footer */
    
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        flex-direction: column;
        text-align: center;
    }
    .footer-logo{
        width: 100%;
        text-align: center;
    }
    .footer-logo p{
        font-size: 10px;
        font-weight: 700;
        font-family: 'Poppins',sans-serif;
        color: #b7410e;
        margin-bottom: 0px;
        padding: 0 auto;
        line-height: 18px;
    }
    .footer-logo img{
        width: 30vw;
    }
    .footer-logo h5{
        font-family: 'Poppins',sans-serif;
        font-size: 4vh;
        color: #b7410e;
        text-align: center;
        font-weight: 900;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .media img{
        width: 50px;
        margin-top: 20px;
    }
    .footer-links{
        flex-direction: row;
        row-gap: 15px;
        column-gap: 70px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 20px;
        margin-top: 8px;
    }
    .footer a{
        text-decoration: none;
        font-size: 10px;
        font-weight: 600;
        color: #b7410e;
        font-family: 'Poppins',sans-serif;
        line-height: 22px;
    }
    .footer p{
        font-size: 18px;
        font-weight: 700;
        font-family: 'Poppins',sans-serif;
        color: #b7410e;
        margin-bottom: 0px;
    }
    .footer-logo p{
        font-size: 10px;
        font-weight: 700;
        font-family: 'Poppins',sans-serif;
        color: #b7410e;
        margin-bottom: 0px;
    }

    /* Sub Footer */
    
    .sub-footer a{
        color: #b7410e;
        text-decoration: none;
        font-size: 7px;
        font-weight: 500;
        font-family: 'Poppins',sans-serif;
    }
    .sub-footer{
        background-color: #f2d2bd;
        display: flex;
        justify-content: space-around;
        padding: 1.5vh 0vw;
    }    
}